<h1>Edit Assignment</h1>
	 <%= render 'form' %>

	 <%= form_for @assignment do |f| %>
 		<%= f.hidden_field :state_event, value: :complete %>
 		<%= f.submit "Complete", class: "btn btn-success btn blcok" %>
 		<% end %>
