<% @assignments.each do |assignment| %>
  <div class="index_row clearfix">
    <h2 class="title"><%= link_to assignment.title, assignment %></h2>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Assignment", new_assignment_path %>
</div>
