<div class="hero-unit--module">
 <div class="hero-unit--module-inner">
    <p><%= notice %></p>
     <h2><%= @assignment.title %></h2>
       <h3>Tasks needed to be done</h3>
	      <%= render @assignment.tasks %>
	  	  <%= render "tasks/form" %>
      </div>
    </div>
