<% if task.completed? %>
  <p><strike><%= task.name %></strike></p>
	<%= link_to "Delete Task", assignment_task_path(@assignment, task), method: :delete, data: { confirm: "Are you sure?" } %>
  <% else %>
	<p><%=  task.name %></p>
  <% end %>
 <%= link_to "Mark as Complete/Incomplete", complete_assignment_task_path(@assignment, task), method: :patch %>
