 <% if signed_in? %>
   <h4>Check out all Assignments here </h4>
       <%= link_to "Assignments", assignments_path(@assignment) %> <br />
       <% else %>
    <h3> Sign in or Sign up to start making assignments <h3>
<% end %>
